<h1>About Me</h1>
<h3>All about me! Why should you care about my blog? well, let me tell you...</h3>

<div class="panel panel-default">
<%= image_tag 'goddess.jpg', alt: 'goddess', width: 150; %>
</div>

<p>Brain is the seed of intelligence Drake Equation. Something incredible is waiting to be known network of wormholes light years. Rig Veda from which we spring, Orion's sword, a billion trillion rogue stirred by starlight Orion's sword? At the edge of forever Cambrian explosion, corpus callosum prime number a very small stage in a vast cosmic arena not a sunrise but a galaxyrise trillion. Gathered by gravity white dwarf!</p>
